* {
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    background-color: rgb(21, 19, 19);
    color: white;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: rgb(255, 255, 255);
}

#container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 6px);
}

#newsFeed {
    overflow: auto;
}

#newsFeed::-webkit-scrollbar {
    display: none;
}

#newsFeed div {
    padding: 12px;
    color: white;
    /* background: linear-gradient(135deg, rgba(70, 70, 70, 0.6) 25%, rgba(50, 20, 98, 0.6) 100%); */
    /* background-color: rgba(135, 206, 250, 0.6);
    backdrop-filter: blur(10px); */
    margin: 60px;
    margin-left: 5%;
    margin-right: 35%;
    border-radius: 12px;
    /* border: solid rgb(145, 185, 199); */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(217, 217, 217, 0.4);
}

#quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
    margin-top: 5%;
    margin-bottom: 25%;
    /* background: linear-gradient(105deg, rgba(250, 235, 215, 0.5) 0%, rgba(255, 159, 33, 0.5)); */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    padding: 12px;
    border: 2px solid rgba(217, 217, 217, 0.4);
    border-radius: 30px;
}

#quote p {
    text-align: center;
    margin: 0;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

#searchBar {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid rgb(217, 217, 217);
}

#bookmarks {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#addBookmark {
    border-radius: 12px;
    width: 150px;
    margin-top: 6px;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
    border: 2px solid rgb(217, 217, 217);
}

#addBookmark:hover {
    cursor: pointer;
}

#searchInput {
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

#searchInput:focus {
    outline: none;
}

#weatherFeed {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#currentForecast {
    margin: 12px;
    border-radius: 12px;
    border: 2px solid rgb(145, 185, 199);
    background-color: rgba(135, 206, 250, 0.6);
    backdrop-filter: blur(6px);
    text-align: center;
    width: 120px;
    height: 120px;
}

#weeklyForecast {
    display: flex;
    background-color: rgba(135, 206, 250, 0.3);
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgba(145, 185, 199, 0.3);
    backdrop-filter: blur(6px);
    overflow: hidden;
}

.weatherDiv {
    width: 32px;
    margin: 0;
    padding: 12px;
    border: 1px solid rgba(145, 185, 199, 0.3);
    font-size: 12px;
}

.weatherDiv div {
    margin: 0;
}

#weeklyForecast div {
    display: flex;
    flex-direction: column;
}

#weeklyForecast p {
    margin: 0;
}

#rightSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#githubProfile {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}

#githubProfile img {
    width: 50%;
    border-radius: 12px;
}

#editButton:hover {
    cursor: pointer;
    transform: scale(120%);
}

#editDiv {
    position: fixed; 
    bottom: 16px; 
    right: 16px; 
    text-align: center;
    width: 32px;
    height: 32px;
}

#prefWindow {
    position: fixed; 
    transform: translateX(-50%) translateY(-50%); 
    background-color: rgba(88, 88, 88, 0.682); 
    backdrop-filter: blur(8px);
    border: solid black;
    border-radius: 12px;
    width: 500px; 
    height: 300px; 
    top: 50%; 
    left: 50%; 
    z-index: 100;
}

#titleBar {
    text-align: center;
    border-bottom: solid black;
}

.bookmark {
    position: relative;
    width: 64px;
    height: 64px;
}

.bookmark img {
    border-radius: 50%;
}

.bookmark:hover {
    transform: scale(90%);
}

.delBookmark {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
}

.delBookmark {
    cursor: crosshair;
}

.bookmark:hover .delBookmark {
    display: block;
}


.storyTitle {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 12px;
}

.storyAuthor {
    font-style: italic;
}

.section {
    width: 33%;
}

